.deco-none {
    color: inherit;
    text-decoration: inherit;
  }
  
.deco-none:link {
    color: inherit;
    text-decoration: inherit;
}

.deco-none:hover {
    color: inherit;
    text-decoration: inherit;
}

.enc-evt{
    background-repeat: no-repeat;  
    background-size: cover; 
    background-position: center;
    border-radius: 10px; 
    position: relative;
    
}
/*
.enc-evt::before{
    content: '';
    border-radius: 10px; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, #140465 0%, #0EA8F3 100%);
    opacity: 0.5;
    z-index: -1;
}
*/
.recbco
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-weight: 600;
    color: black;
}

.card{
    margin-bottom: 20px;
}

.respneg{
    text-shadow: 0px 0px 10px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
}

.fgr{
    font-weight: 600;
}

.flexh{
    display: flex !important;
    margin-bottom: 15px;
}

.hor{
    width: 48%;
}

.btnres{
    width: 52%;
}

